<button
  class="floating-whatsapp"
  type="button"
  data-availability-open
  data-cta-location="sticky_whatsapp"
  aria-label="Start a cake enquiry on WhatsApp"
>
  <svg aria-hidden="true" viewBox="0 0 24 24">
    <path
      d="M12 2a9.6 9.6 0 0 0-8.2 14.6L2.5 21.5l5-1.3A9.7 9.7 0 1 0 12 2Zm0 17.5a7.8 7.8 0 0 1-4-1.1l-.3-.2-3 .8.8-2.9-.2-.3A7.8 7.8 0 1 1 12 19.5Zm4.3-5.8c-.2-.1-1.4-.7-1.6-.8-.2-.1-.4-.1-.5.1l-.7.9c-.1.2-.3.2-.5.1-1.4-.7-2.4-1.3-3.3-2.9-.2-.3.2-.3.6-1.1.1-.2 0-.4 0-.5l-.7-1.7c-.2-.4-.4-.3-.5-.3h-.5c-.2 0-.5.1-.7.3-.2.3-.9.9-.9 2.1s.9 2.4 1 2.6c.1.2 1.8 2.8 4.4 3.9 1.6.7 2.2.7 3 .6.5-.1 1.4-.6 1.6-1.1.2-.6.2-1 .2-1.1-.2-.1-.4-.2-.6-.3Z"
    /></svg
  ><span>WhatsApp</span>
</button>
<button
  class="scroll-top"
  type="button"
  aria-label="Scroll to top"
  hidden
  data-scroll-top
>
  ↑
</button>
